body {
	width: 1440px;
	margin-left: 0px;
}

header {
	background: url(../img/header-bg.jpg);

	.header-description {
		width: 750px;
		text-align: center;
		padding-top: 167px;
		padding-bottom: 205px;
		margin-left: auto;
		margin-right: auto;
		display: block;

		
		h1 {
			font-family: 'Exo', sans-serif;
			font-size: 60px;
			line-height: 75px;
			font-weight: lighter;
			color: #282828;
			letter-spacing: 2px;
		}

		.btn-play {
			display: block;
  		margin: 41px auto 39px;
  		width: 59px;
  		height: 59px;
  		background-color: #8286a4;
  		border-radius: 50%;
  		border: none;
  		font-size: 0;
  		background: #8286a4 url(../img/play.png) no-repeat center;
		}

		.btn {
			padding: 0px 50px;
			font-family: 'Exo', sans-serif;
			font-size: 16px;
			line-height: 50px;
			font-weight: normal;
			color: #ffffff;
			background: #ff6d6d;
			border: none;
			text-transform: uppercase;
			letter-spacing: 3px;
			border-radius: 5px;

		}

		span {
			display: block;
			font-family: 'Exo', sans-serif;
			font-size: 14px;
			line-height: 54px;
			font-weight: normal;
			color: #282828;
			letter-spacing: 1px;
		}
	}
}

main {
	.about-design {
		.design-description-top {
			float: left;
			width: 590px;
			margin-top: 187px;
			margin-left: 149px;

			span {
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				font-weight: 500;
				color: #ff6d6d;
				letter-spacing: 3px;
			}

			h2 {
				margin: 0px;
				margin-bottom: 40px;
				font-family: 'Exo', sans-serif;
				font-size: 40px;
				line-height: 50px;
				font-weight: 500;
				color: #282828;
				margin-top: 6px;
				letter-spacing: 2px;

				span {
					font-family: 'Exo', sans-serif;
					font-size: 40px;
					font-weight: 500;
					color: #ff6d6d;
				}
			}

			p {
				margin-top: 25px;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				line-height: 26px;
				font-weight: 500;
				color: #282828;
				letter-spacing: 1px;
			}
		}

		.decorate-block {
			float: right;
		}
	}

	.about-features {
		background: url(../img/features.jpg) no-repeat;

		span {
			display: block;
			text-align: center;
			padding-top: 130px;
			font-family: 'Exo', sans-serif;
			font-size: 16px;
			font-weight: 500;
			color: #ff6d6d;
			letter-spacing: 3px;
		}

		h2 {
			text-align: center;
			font-family: 'Exo', sans-serif;
			font-size: 40px;
			line-height: 50px;
			font-weight: 500;
			color: #282828;
			margin-top: 6px;
			letter-spacing: 2px;
		}

		.features-item {
			width: 360px;
			float: left;

			img {
				display: block;
				margin: auto;
			}

			h3 {
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				line-height: 50px;
				font-weight: 500;
				color: #282828;
				text-align: center;

			}

			p {
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				line-height: 26px;
				font-weight: 500;
				color: #282828;
				letter-spacing: 1px;
				text-align: center;
			}
		}

		.features-item:nth-child(1) {
			margin-top: 45px;
			margin-left: 149px;
		}
	}
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}